/****************************
    Google Fonts
****************************/

@import url(https://fonts.googleapis.com/css?family=Lato);

* {
	padding:0rem; 
	margin:0; 
	box-sizing:border-box;
}
html {
	font-size: 1em;
}
body {
  font-family: Arial,sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
h1, h2, h3{
  margin: 0.5rem 0 0.5rem;
  font-weight: inherit;
  line-height: 2.4rem;
  text-shadow: 1px 1px 2px black; 
  color: #CC520E;
  font-size: 40px
}
p {
	margin-bottom: 1.3rem;
	text-align:justify;
	word-wrap: break-word;
	line-height:1.8rem;
}
h1 {font-size: 3rem;}
h2 {font-size: 1.215rem;}
h3 {font-size: 1.138rem;}
aside.side p {font-size: 0.937rem;}

/****************************
    Masthead
****************************/
header.masthead {
	background-image: url("http://static5.businessinsider.com/image/4f3433986bb3f7b67a00003c-480/cute-cat.jpg");
	padding:6.7rem;
	align-content: center;
	height: 300px
	
}

/****************************
    Navigation Control
****************************/
nav.mainnav ul {
	list-style:none;
}
nav.mainnav ul li a {
	display:block;
	padding:1.3rem;
	white-space: nowrap;
	text-decoration:none;
	font-weight:900;
	background: #FF6711;
	color:#FF985D;
	border-bottom:1px solid grey;
	text-shadow: 1px 1px 2px black; 
	border-radius: 50px;
	margin-top: 12px;
}
nav.mainnav ul li a:hover {
	background:#FF694C;
}


main.content {
	padding:1rem;
}
img.left{
	float:left;
	margin:0.25rem 1rem 0 0;
}
img.right{
	float:right;
	margin:0.25rem 0 0 1rem;
}
aside.side {
	padding:1rem;
}

/****************************
    Footer
****************************/
footer.footer {
	clear:both;
	padding:1rem;
	color:#333;
}
img {
	max-width:100%;
	padding: 0 0 1rem 0;
}
/****************************
    Media Queries for max-60em and min 35em
****************************/
@media all and (max-width: 60em) and (min-width: 35em){
	h1 {font-size: 3.4rem;}
	h2 {font-size: 1.953rem;}
	h3 {font-size: 1.563rem;}
	
	aside.side p {font-size: 0.8rem;}
	div.wrapper {
		margin: 0 auto;
	}
	nav.mainnav ul {	
		display:table;
		table-layout:fixed;
		width:100%;
	}
	nav.mainnav ul li {
		display:table-cell;
		width:25%;
		text-align:center;
	}
	main.content {
		width:63%;
		float:left;
	}
	aside.side {
		width:37%;
		float:right;
	}
}

/****************************
    min 60em
****************************/
@media all and (min-width: 60em){
	h1 {font-size: 5rem;}
	h2 {font-size: 2.827rem;}
	h3 {font-size: 1.999rem;}
	 
	aside.side p {font-size: 0.8rem;}
	h1{
		white-space: nowrap;
	}
	div.wrapper {
		margin: 0 auto;
		max-width:1600px;
	}
	header.masthead {
		padding:9rem;
	}
	nav.mainnav ul {
		width:25%;
		float:left;
	}
	main.content {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		width:50%;
		float:left;
	}
	aside.side {
		width:25%;
		float:left;
		border-left:1px solid #eee;
	}
	img.left{
		float:none;
		margin:0.25rem 0 0 0;
	}
	img.right{
		float:none;
		margin:0.25rem 0 0 0;
	}
}